<div class="form-group">
    <label for="title">Title</label>
    <br>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <br>
    <textarea name="description" id="description" class="form-control"></textarea>
  </div>
  
  <a href="/new" class="btn btn-secondary">news</a>
  <br>
  <button type="submit" class="btn btn-primary">publish</button>