<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css" />
  <title>3R Youth Ambassador</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="Logo.png">
</head>

<body>
  <nav>
    <div id="imgcontainer">
      <img src="/Logo.png" alt="Your Logo" width="80px" height="80px" />
      <p>3R Youth Ambassador</p>
      <i class="ri-leaf-line"></i>
    </div>
    <ul id="navbar">
      <li>
        <a href="/new">news</a><i class="ri-news-line"></i>
      </li>
      <li>
        <a href="#page2">about us</a><i class="ri-file-info-fill"></i>
      </li>
      <li>
        <a href="#page3">our achievements</a><i class="ri-medal-line"></i>
      </li>
      <li>
        <a href="#members">members</a><i class="ri-group-line"></i>
      </li>
      <li>
        <a href="#contact">contact us </a><i class="ri-contacts-book-line"></i>
      </li>
    </ul>
    <!-- <div id="button">
        </div> -->
  </nav>
  <div id="img1">
    <img src="b.JPG" alt="" id="page1img" loading="lazy">
    <div id="threer">
      <div id="r1">
        <div class="dot">
        </div>
        <h3>Reduce</h3>
  
      </div>
      <div id="r2">
        <div class="dot">
        </div>
        <h3>Reuse</h3>
  
      </div>
      <div id="r3">
        <div class="dot">
        </div>
        <h3>Recycle</h3>
  
      </div>
    </div>
    <!-- <h3 id="text"> -->
    <!-- Hi we are 3R Youth Ambassador. Our goal is to spread awareness to our
      people regarding the 3R (reuse,reduce&recycle) -->
    </h3>
  </div>
  <div id="page2">
    <div id="page2text">
      <h3>About us</h3>
      <p>The 3R-YA initiative is a collaborative endeavor between the 3R ProMar project and Preah Sisowath New
        Generation School. The primary aim of this program is to equip and empower students with the necessary training
        and development opportunities, enabling them to assume a pivotal role in organizing environmental awareness
        campaigns and participating in community outreach efforts. The overarching goal is to promote the motto "Reduce,
        Reuse, Recycle" and contribute to the preservation of not only the marine environment but the overall
        environmental well-being of Cambodia.As members of the 3R ProMar Youth Ambassador program, we are proud to be
        from Cambodia and are deeply passionate about our work. We are committed to leveraging our efforts to assist
        Cambodia in achieving success in protecting its natural environment and promoting sustainable practices. </p>
    </div>
    <img src="/a.jpg" alt="" id="page2img" loading="lazy">
    <!-- <div id="page2img"></div> -->
  </div>
  <div id="page3">
    <div id="page3text">
      <h3>✨ Our Achievements ✨</h3>
    </div>
    <div id="page3img">
      <ul id="ulimg">
        <li>
          <img src="activities/a1.JPG" alt="" class="act" loading="lazy">
          <h1 class="overlay">Meeting</h1>
        </li>
        <li>
          <img src="activities/a3.JPG" alt="" class="act" loading="lazy">
          <h1 class="overlay">GOMI Recycle</h1>
        </li>
        <li>
          <img src="activities/a4.JPG" alt="" class="act" loading="lazy">
          <h1 class="overlay">2 Weeks No Plastic</h1>
        </li>
      </ul>
    </div>
  </div>
  <div id="members">
    <div id="memberstext">
      <h3>👩 Members 👦</h3>
    </div>
    <div id="membersimg">
      <!--slider-->
      <ul id="membersulimg">
        <li>
          <img src="members/m1.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m2.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m3.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m4.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m5.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m6.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m7.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m8.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m9.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m10.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m11.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m12.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m13.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m14.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m15.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m16.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m17.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m18.png" alt="" class="act" loading="lazy">
        </li>
        <li>
          <img src="members/m19.png" alt="" class="act" loading="lazy">
        </li>
      </ul>
      <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
      <button class="next" onclick="changeSlide(1)">&#10095;</button>
    </div>

  </div>
  <footer>
    <div id="contact">
      <div id="contacttext">
        <h3><i class="ri-contacts-book-line"></i> Contact us :</h3>
      </div>
      <div id="contactimg">
        <ul id="contactul">
          <li>
            <!-- <img src="activities/a1.JPG" alt="" class="act"> -->
            <a href="https://www.facebook.com/3RYouthAmabassadors">
              <i class="ri-facebook-circle-fill"></i></h1>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="script.js"></script>
</body>

</html>