<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./news.css" />
  <title>3rya news</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/Logo.png">
</head>

<body>
  <nav>
    <div id="imgcontainer">
      <img src="/Logo.png" alt="Your Logo" width="80px" height="80px" />
      <p>3R Youth Ambassador</p>
      <i class="ri-leaf-line"></i>
    </div>
    <ul id="navbar">
      <li>
        <a href="/">home<i class="ri-home-8-line"></i></a>
      </li>
      <li>
        <a onclick="check()">edit</i></a>
      </li>
    </ul>
    <!-- <div id="button">
            </div> -->
  </nav>
  <div id="container">
    <!-- <h1>New Article</h1>
    <form action="/new/newform">
      <button type="submit" class="btn">New article</button>
      </form> -->
    <% article.forEach(article => { %>
    <div class="card">
      <div class="content">
        <h3 class="content-title"><%= article.title %></h3>
        <p>
          <%= article.createdAt.toLocaleDateString() %>
        </p>
        <h3 class="content-title"><%= article.description %></h3>
        <a href="new/<%= article.id %>" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<script>
  function check(){
    var ps = prompt("Enter password:");
    if (ps=="1"){
      window.location.href="/new/newform"
    }
  }
</script>

</html>